.h-100-vh {
    height: 100vh;
}

.login-bg {
    background: url("./resources/login-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    filter: blur(1px);
}

.opacity-30 {
    opacity: 0.7;
}

.bg-strip {
    height: 150px;
}